<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Observer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>940AC7A31F8CCAD500AF8388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>940AC7B71F8CCAD600AF8388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>940AC7C21F8CCAD600AF8388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
